.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    /* Ocupa toda la altura de la ventana */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* Alinea el contenido a la derecha */
    overflow: hidden;



}

.hero__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.hero__background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(2px);
    /* Asegura que la imagen cubra todo el espacio */
}

.hero__content {
    width: 40%;
    max-width: 500px;
    padding: 2rem;
    margin-right: 5%;
    animation: fadeInUp 0.8s ease-out;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;



}

.hero__title {
    font-family: var(--font-title);
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--color-secondary);
}


.hero__text {
    font-size: clamp(1rem, 3vw, 1.1rem);
    line-height: 1.6;
    font-family: var(--font-body);
    color: var(--color-secondary);
}


/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
    .hero {
        justify-content: center;
        display: flex;
        align-items: center;
    }

    .hero__content {
        width: 90%;
        text-align: center;
    }
}